* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    font-weight: 400;
}

.nin {
    display: inline;
}

.container{
    padding-bottom: 100px ;
    display: flex;
}

.thema{
   width: 50%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 15px;
}

.inviz{
    display: none;
}

h3{
    font-size: 60px;
    Line-height: 65px;
}

h2{
    font-size: 48px;
}

p{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.textMain {
    flex: 1;
    padding: 20px 40px;
    font-weight: 600;
}

.avatar {
    border-radius: 20px;
    flex: 1;
    height: 500px;
    display: inline-block;
    background-size: cover;
    background-image: url("icon/adir-Cargo-Insurance%201.png");
}

.search{
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
}

.foo {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}


.foo1 {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.del{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url('icon/cancel.png');
    background-size: cover;
    cursor: pointer;
}


.del1{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('icon/cancel.png');
    background-size: cover;
    cursor: pointer;
}

.doo {
    text-decoration: underline;
}

.addtext, .addphoto, .addtz{
    display: none;
}

.way{
    width: 100%;
    overflow-wrap: break-word;
    line-height: 4em;
    font-size: 20px;
    resize: none;
    box-sizing: content-box;
}

.searchSection{
    flex: 1;
    padding: 80px;
}

.titleRbt{
    font-size: 30px;
    margin:0;
    padding-bottom: 20px;
}

.radiobuttonBlock {
    display: flex;
    width: 100%;
    cursor: pointer;
    padding: 40px 20px;
    margin-bottom: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    border: none;
    background: #FFFFFF;
    background-image: linear-gradient(to top left, #E9E9EC 15%, #FFFFFF 15%, #FFFFFF 100%);
}

.radiobutton{
    flex:1;
}

.zagColumn1 {
    padding: 0 0 0 50px;
    margin: 0;
}

.radiobuttonBlock:active, .radiobuttonBlock:focus {

    border: 1px solid #0B7572;
    box-sizing: border-box;
    border-radius: 10px;

}

.radiobutton2 {
    margin: 0 20px
}


.radiobuttonBlock:active > .dzen, .radiobuttonBlock:focus > .dzen {

    background: radial-gradient(circle closest-side, #0B7572 5px,
    white 6px);;

}

.dzen{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #CBCBCD;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
   /* box-sizing: border-box;
    box-shadow:
            inset 0 0 0 6px white,
            inset 0 4px 7px rgba(0, 0, 0, 0.2);*/

}


.onelvl{
    display: flex;
}
.twolvl{
    flex: 1;
}

h1{
    text-align: center;
}

.section.one{
    padding-top: 100px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 80%, white 60%, white 100%), linear-gradient(to right, white 0, white 60%, #0B7572 60%, #0B7572 100%);
}

.imag{
    width: 100%;
    background-size: cover;
    background-position: 110%;
    background-image: linear-gradient(50deg, rgba(11, 117, 114, 1)52%, rgba(11, 117, 114, 1)52%,rgba(11, 117, 114, 0.3)52%,rgba(11, 117, 114, 0.3)60%,rgba(255, 255, 255, 0)60%, rgba(206,220,23, 0)100%), url(
    "icon/Rectangle%207.png");
    background-repeat: no-repeat;
}

.sponsorImg{
    padding-left: 60px;
}

.tex {
    color: #FFFFFF;
    font-size: 50px;
    padding: 150px 0 150px 150px;
}

.sectionThree{
    padding: 100px 200px 0 0;
    margin: 0 0 100px 200px;
}

.block{
    display: flex;
    margin: 0 50px;
}

.blockLine{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
}

.textColumn{
    font-size: 16px;
    margin: 0;
    padding: 5px 100px 0 50px;
}

.zagColumn{
    font-size: 20px;
    margin: 0;
    padding: 5px 100px 0 50px;
}




.sliders{
   display: flex;
    align-content: space-between;
    margin:5px;
}
.sliderItem{
    flex-grow: 1;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.slideImg1{
    height: 300px;
    background-repeat: no-repeat;
    z-index: -2;
    background-size: cover;
    background-image: url("icon/Rectangle\ 13.png");
}

.slideImg2{
    height: 300px;
    background-repeat: no-repeat;
    z-index: -2;
    background-size: cover;
    background-image: url("icon/Rectangle\ 13\ \(1\).png");
}

.slideImg3{
    height: 300px;
    background-repeat: no-repeat;
    z-index: -2;
    background-size: cover;
    background-image: url("icon/Rectangle\ 13\ \(2\).png");
}

.price{
    display: inline-block;
    font-size: 16px;
    margin: 5px 100px 20px 50px;
    border-bottom: #FFCE50;
    border-bottom-style: solid;
}

.textVoic{
    margin-left: 150px;
    margin-bottom: 10px;
}

.priceVoic {
    display: inline-block;
    margin: 5px 100px 20px 150px;
    border-bottom: #FFCE50;
    border-bottom-style: solid;
}

.voic{
    font-size: 40px;
}


.rolik{
position: relative;
    z-index: 1;
}

.but {
    position: absolute;
    opacity:0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
}

.play{
    position: absolute;
    left: 50%;
    opacity: 1;
    top:50%;
    left: 50%;
    cursor: pointer;
    margin-left: -54px;
    margin-top: -54px;
    z-index: 3;
    width: 108px;
    height: 108px;
    background-image: url('icon/play.png');

}

.play:hover {
    opacity: 0.8;
    background-color: white;
}

.main {
    display: flex;
    background-color: #0B7572;
    background-image: url('icon/path2195.png');
    background-size: contain;
    background-position: 20%, center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.clients{
    flex-grow: 1.5;
    color: white;
    font-size: 48px;
    padding: 100px 100px 0 100px;
    line-height: 60px;
    text-align: left;
}

.clientsTable{
    flex-grow: 2;
    background-color: white;
    border-radius: 10px;
    margin: 85px 70px;
}

.clietnsTop{
    margin: 0 70px;
    display: flex;
    border-bottom: 2px solid #D7D7DD;
}

.clientsLogo{
    flex: 1;
    margin: 30px 0;
}

.clientsInfo{
    flex: 1;
    margin: 30px 0;
}

.textClients{
    margin: 0;
    font-size: 15px;
    line-height: 17px;
    text-align: left;
    color: #6B6B6C;
}

.clietsBot{
    margin: 30px 70px 70px 70px;
}

.tbl{
    width: 100% ;
    background-color: #F9F9FB;
    border: 2px solid white;
    border-collapse: collapse;
    font-size: 15px;
    line-height: 25px;
    }

th{
    background-color: #0B7572;
    margin: 0;
    color: white;
    padding: 10px;
}

td{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    vertical-align: top;
}

.rating{
    color: #FFCE50;
    margin: 0;
    padding: 0;
}

.blockPost{
    flex: 1;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin: 0 0 0 35px;
    padding: 24px 0;
}

.postImg{
     width: 250px;
     height: 180px;

 }

.textColumnPost{
    font-size: 16px;
    padding: 20px 130px 50px 50px
}

.hren{
    display: flex;
    position: relative;
    margin:20px 0;
}

.circl{
    flex: 1;
    position: relative;
    right: -36px;
    background-color: #0B7572;
    border-radius: 10000px;
    padding: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.blockPost::before {
    position: absolute;
    content: "";
    background: #FFFFFF;
    padding: 50px;
    box-shadow: inset -10px 0 5px -2px rgba(0, 0, 0, 0.12);
    border-radius: 300px;
    left: -15px;
}

.a{
    text-align: center;
    margin: 0;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 30px;
}

.box-init {
    font-size: larger; /* размер шрифта */
    border-right:1px solid #D7D7DD; /* граница блока */
    padding: 10px; /* внутренние отступы */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 20px;
}

.box-init.box:nth-child(4n) {
    font-size: larger; /* размер шрифта */
    padding: 10px; /* внутренние отступы */
    border-right:0 solid #D7D7DD; /* граница блока */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.sponsor{
    font-family: 'Exo 2';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
}

.sponsorName{
    font-family: 'Exo 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    margin:0;
    padding-top: 20px;
}

.sponsorInfo{
    font-family: 'Exo 2';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin:0;
}

.contactBlock{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;

}

.contact{
    margin: 20px 20px 20px 0;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: larger; /* размер шрифта */

    padding: 10px 10px 10px 60px; /* внутренние отступы */
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #0B7572 5%, #FFFFFF 5%,#FFFFFF 100%);
}

.contactFirm{
    text-align: left;
    margin-left: 30px;
}

.contactName{
    font-family: 'Exo 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin:0;
    padding: 20px 0;
}

.soc{
    max-height: 25px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contLogoBlock{
    margin-bottom: 40px;
}

.contLogo{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.infoCont{
    display: inline-block;
    padding-left: 10px;
}

.nameInfo{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 5px;
    padding: 0;
    color: #6B6B6C;
}

.nameContact{
    font-family: 'Exo 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin: 5px;
    padding: 0;

}

.grid-init1 {
    height: 100%;
}
.box-init1 {
    color: #6B6B6C; /* цвет текста */
    border-bottom: 1px solid #E9EAF2; /* граница блока */
    padding: 10px;
    padding-left: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

.contactBlockNumber{
    display: flex;
}

.contactAdress{
    flex: 1;
    padding-top: 10px;
}

.contactInfoBlock{
    flex: 2;
    padding: 0 100px 50px 100px;
    background-color: #F9F9FB;
}

.box21{
    display: flex;
    margin: 50px 0;
}

.files{
    background-color: #0B7572;
    flex-grow: 2;    
    padding: 20px 0 80px 40px;
}

.backgroundFiles{
    flex-grow: 3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 300% 200%;
    background-image: url('icon/Rectangle%2025.png')
}

.tellMe{
    font-family: 'Exo 2';
    padding-left: 40px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.form{
    margin-top: 50px;
    display: block;
}

.area {
    width: 100%;
    line-height: 4em;
    font-size: 20px;
    background-color: #0B7572;
    color: white;
    border: none;
    resize: none;
    box-sizing: content-box;
    border-bottom: none;
}

textarea::placeholder {
    color: white;
    Font-size: 16px;
}

:focus {
    outline:none;
}
textarea{
    background-image: linear-gradient(to bottom,#0B7572 19%,rgba(255, 255, 255, 0.2)20%,#0B7572 21%,#0B7572 39%,rgba(255, 255, 255, 0.2)40%,#0B7572 41%,#0B7572 59%,rgba(255, 255, 255, 0.2)60%,#0B7572 61%,#0B7572 79%,rgba(255, 255, 255, 0.2)80%,#0B7572 81%,#0B7572 99%,rgba(255, 255, 255, 0.2)100%);
}

button.form {
    color: #0B7572;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 40px;
}

.formprew{
    background-color: #F9F9FB;
    flex-grow: 2;
    padding: 40px 40px;
}



.btnprew{
    color: white;
    background-color: #0B7572;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
}

.formImg{
    display: inline-block;
    padding-right: 5px;
}

.formBtn{
    background-color: #0B7572;
    color:  white;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    margin: 20px 20px 10px 0;
    padding: 20px 0 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.areaBlock{
    background-color: #0B7572;
    color:  white;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    margin: 20px 20px 10px 0;
    padding: 20px 0 5px 0;
}

.rolikplay {
    position: relative;
    width: 100%;
    display: block;
}

.video{
    margin-bottom: 50px;
}

.textVideo{
    width: 60%;
    font-family: 'PT Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.sans {
    font-family: 'PT Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.slick-track{
    display: flex;
}

.slick-list{
    overflow: hidden;
}

.slider{
    position: relative;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}

.slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}

.slider .slick-dots button{
    position: relative;
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #E9E9EC;
}

.slider .slick-dots li.slick-active button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0B7572;
    box-shadow:
            0 0 0 7px white,
            0 0 0 8px #0B7572
}

.sponsor.ask {
    display: none;
}

.clientsTable2{
    display: none;
}

.hrenCircl{
    position: absolute;
    left: -35px;
    top: 50%;
}

.knopka{
    background-color: #0B7572;
    color: white;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    font-family: 'Exo 2';
    text-decoration: none;
    margin-bottom: 50px;
    margin-top: 50px;
  
}

.nameInfo.way, #fileList1, #fileList{
    margin-bottom: 20px;;
}

.sponsor.ask.ab{
    display: block;
}

@media (max-width: 768px) and (min-width: 381px) {
    
    .container {    
    flex-flow: column;
}

.box-init.box:nth-child(even) {    
    border-right: 0 solid #D7D7DD;    
}

    .avatar {
    border-radius: 20px;
    flex: auto;
    height: 314px;
    display: inline-block;
    background-size: cover;
    width: 100%;
    background-image: url(icon/adir-Cargo-Insurance\ 2.png);
}

    .section.one {
    padding-top: 100px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 48.3%, white 10%, white 100%), linear-gradient(to right, white 0, white 80%, #0B7572 80%, #0B7572 100%);
}

.textMain {
    flex: 1;
    width: 80%;
    padding: 20px 40px;
    font-weight: 600;
}

.search {
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.searchSection {
    border-radius: 20px;
    flex: 1;
    padding: 80px;
    margin-bottom: 20px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 15%);  
}

.twolvl.text{
    display: none;
}

.thema {
    width: 100%;
    margin-bottom: 48px;
}

.tex {
    color: #FFFFFF;
    font-size: 50px;
    padding: 140px 0 140px 150px;
}

.imag {
    width: 100%;
    background-size: cover;
    background-position: unset;
    background-image: linear-gradient(
50deg
, rgba(11, 117, 114, 1)52%, rgba(11, 117, 114, 1)52%,rgba(11, 117, 114, 0.3)52%,rgba(11, 117, 114, 0.3)60%,rgba(255, 255, 255, 0)60%, rgba(206,220,23, 0)100%), url(icon/Rectangle%207.png);
    background-repeat: inherit;
}

.block {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
}

.main {    
    flex-direction: column;
}

.clientsTable {   
    margin: 0 39px 89px 39px;
}

.sans {    
    font-size: 14px;    
}

.clietsBot {
    margin: 30px 50px 70px 50px;
}

.clients {
    flex-grow: 1.5;
    color: white;
    font-size: 48px;
    padding: 0px 100px 0 100px;
    line-height: 60px;
    text-align: left;
}

.sponsor.ask{
    display: block;
}

.zagColumn1 {
    padding: 0 0 0 50px;
    margin: 0;
    font-size: 20px;
} 

.wrapper {
    margin: 60px auto;    
    padding: 0 15px;
}

.sponsorImg {
    display: none;    
}

.textColumnPost {
    font-size: 16px;
    padding: 0px 130px 0px 50px;
}

.sponsorTxt{
    padding-left: 60px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.contact {
    padding: 10px 10px 10px 50px;    
    flex-direction: column;
    align-items: flex-start;
}

.contactFirm {
    margin-left: 0px;
}

.contactName {
    font-family: 'Exo 2';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin: 0;
    padding: 20px 0 5px 0;
}

.soc {
    max-height: 25px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contactBlockNumber {    
    flex-direction: column;
}

.contactInfoBlock {
    flex: 2;
    padding: 0 10px 50px 10px;
    background-color: #F9F9FB;
}

.backgroundFiles {
    display: none;
}

.sponsor{
    font-size: 20px;
}

}




@media (max-width: 380px) {
    body{
        margin: 0 auto;
        padding: 0;
        font-family: 'Exo 2';
        font-weight: 400;
        box-sizing: content-box;
    }

    h3{
        font-family: 'Exo 2';
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 70px;
        margin: 0;
        color: white;
    }

    .textMain{

        color: white;
    }

    .sans{
        font-family: 'PT Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sponsor{
        font-family: 'Exo 2';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }

    .sponsorTxt{
        padding-left: 60px;
    }

    .nin{
    display: none;
    }

    .avatar {
        border-radius: 20px;
        height: 240px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        display: inline-block;
        background-size: cover;
        background-image: url("icon/adir-Cargo-Insurance%201.png");
    }

    .wrapper {
        margin: 0 auto;
    }

    .container {
        padding-bottom: 56px;
        display: grid;
    }

    .section.one {
        padding-top: 0;
        background-image: linear-gradient(to bottom, #0B7572 0%, #0B7572 70%, white 70%);
    }

    .search, .block, .main {
        flex-flow: column;
        margin: 0;
    }

    .textColumn {
        padding: 5px 15px 0 16px;
    }

    .search{
        padding: 20px 0;
        box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
    }

    .searchSection{
        margin: 4px 32px;
        padding: 0;
        box-shadow: none;
    }
    

    .thema{
        width: 100%;
    }

    h2, .sponsor.ask {
    font-family: 'Exo 2';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;

    }

    h2{
        padding: 32px 0;
    }

    .blockblock{
        margin: 48px 0;
    }

    .blockLine {
        align-items: flex-start;

    }

     .sans.sfera, .twolvl.text, .sectionSlide, .sponsorImg, .backgroundFiles{
        display: none;
    }

    .sponsor.ask{
        display: block;
    }

    .columnBlock{
        display: flex;
    }

    .clientsTable{
        display: none;
    }

    .clientsTable2{
        display: block;
        background-color: white;
        border-radius: 10px;
        margin: 85px 70px;
    }

    .clients{
        padding: 0;
    }

    .wrapper.table{
        background-color: #0B7572;
        margin: 64px 0;
    }

    .td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        vertical-align: top;
    }

    .clietsBot {
        margin: 30px;
    }

    .clientsLogo {
        margin: 30px 0;
    }

    .titleRbt{
        font-family: 'Exo 2';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom:0px;
    }

      .dzen {
        width: 35px;
        height: 20px;
    }


    .clientsTable2 {
        display: block;
        background-color: white;
        border-radius: 10px;
        margin: 0;
        margin-bottom: 20px;
    }

    .column2{
        padding-left: 20px;
    }

    .zagColumn {
        padding: 5px 15px 0 16px;
    }

    .textColumnPost {
        font-size: 15px;
        padding: 0 10px 0 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .box-init.box:nth-child(odd) {
        padding: 0;

        border-right:1px solid #D7D7DD; /* граница блока */

    }

    .box-init {
        font-size: larger; /* размер шрифта */
        border-right:0px solid #D7D7DD; /* граница блока */
        padding: 0; /* внутренние отступы */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 20px;

    }

    .contact:nth-child(odd){
        display: none;
    }

    .contactBlock {
        grid-template-columns: 1fr;
    }

    .contactBlockNumber {
        display: flex;
        flex-flow: column;
    }

    .grid1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: initial;
        margin: 0 20px;
    }

    .contactInfoBlock {
        flex: 2;
        padding: 0;
        background-color: #F9F9FB;
    }

    .textVideo {
        width: 100%;
    }

    .textMain {
        flex: 1;
        padding: 0;
        font-weight: 600;
    }

    .box-init1:nth-child(odd) {
        border-bottom: 0 solid #E9EAF2;
        color: black;

    }

    .radiobutton2{
        margin: 0 0 0 20px;
    }

    .radiobuttonBlock{
        padding: 20px;
    }

    .slideImg1{
        height: 200px;
        background-repeat: no-repeat;
        z-index: -2;
        background-size: cover;
        background-image: url("icon/Rectangle\ 13.png");
    }

    .slideImg2{
        height: 200px;
        background-repeat: no-repeat;
        z-index: -2;
        background-size: cover;
        background-image: url("icon/Rectangle\ 13\ \(1\).png");

    }

    .slideImg3{
        height: 200px;
        background-repeat: no-repeat;
        z-index: -2;
        background-size: cover;
        background-image: url("icon/Rectangle\ 13\ \(2\).png");
      }

    .clients{
        font-family: 'Exo 2';
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }

    .main {
        display: flex;
        background-color: #0B7572;
        background-image: url(icon/path2195.png);
        background-size: cover;
        background-position: 100%;
        background-repeat: no-repeat;
        margin-bottom: 40px;
    }

    .box-init.box:nth-child(4n){
        padding: 0;
    }

    .logoSponsor.ava{
        width: 100px;
        height: 100px;
    }

    .logoSponsor{
        max-width: 160px;
    }

    .contact {
        margin: 10px 0;
        background: #FFFFFF;
        box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
        border-radius: 20px;
        font-size: larger;
        padding: 10px 0 10px 30px;
        display: flex;
        align-items: center;
        background-image: linear-gradient(to right, #0B7572 5%, #FFFFFF 5%,#FFFFFF 100%);
    }

    .contactFirm {
        text-align: left;
        margin-left: 15px;
    }

    .contactName {
        font-family: 'Exo 2';
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        margin: 0;
        padding: 0 0 0 0 ;
    }
    .soc {
        max-height: 25px;
        margin-top: 25px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .tellMe {
        font-family: 'Exo 2';
        padding-left: 0;
        margin: 40px 0;
        color: white;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }

    .areaBlock {
        padding: 0px 0 5px 0;
    }

    .formBtn {
        margin: 10px 20px 10px 0;
        padding: 10px 0 5px 0;
    }

    .zagColumn1 {
        padding: 0;
        margin: 0;
        font-family: 'Exo 2';
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    .price {
        display: inline-block;
        font-size: 16px;
        margin: 5px 100px 20px 16px;
        border-bottom: #FFCE50;
        border-bottom-style: solid;
    }

    .play {
        position: absolute;
        left: 50%;
        opacity: 1;
        top: 50%;
        left: 50%;
        cursor: pointer;
        margin-left: -33px;
        margin-top: -33px;
        z-index: 3;
        width: 66px;
        height: 66px;
        background-image: url(icon/play.png);
        background-size: cover;
    }
}

